name: Lint
on:
  push:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/pnpm-install
      - name: Lint
        run: pnpm lint