name: Test
on:
  workflow_run:
    workflows: ["Lint"] 
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/pnpm-install
      - name: Test
        run: pnpm test